{% extends 'profil/profil-layout.html.twig' %}

{% block title %}Modifier la Photo de Profil{% endblock %}

{% block body %}
	{% include 'shared/nav.html.html.twig' %}

	{% include 'shared/profil-card.html.twig' %}
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							{% block content %}
								{% include 'shared/sidbarLeft.html.twig' %}
								<div class="col-lg-6">
									<div class="loadMore">
										<div class="central-meta item">
											<div class="user-post">
												<h1>Modifier le profil</h1>
												<h2>Modifier la Photo de profil</h2>

												{% if app.session.flashBag.has('error') %}
													<div class="alert alert-danger">{{ app.session.flashBag.get('error')|first }}</div>
												{% endif %}

												{{ form_start(form) }}
												{{ form_row(form.photo) }}

												<button type="submit">Enregistrer</button>
												{{ form_end(form) }}
											</div>
										</div>
									</div>
								</div>
								{% include 'shared/sidebarRight.html.twig' %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include 'shared/footer.html.twig' %}
{% endblock %}


